<form role="form" class="form-horizontal">
    <br /><br />
   <h1 style="color:aqua">Home sweet home, nothing like you.</h1>


    <h1 class="text-center">Centering Example 1</h1>
    <div class="row">
        <div class="col text-center">Centering Example 2</div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
                <span>Centering Example 3</span>
            </div>
        </div>
    </div>

    <br />

   
    <a href="" ng-click="showCreateEmployeeForm()"   class="btn btn-danger" style="width:150px;">Add New Employee</a><label></label>
    <br /><br />
    <a href="" ng-click="showUpdateEmployeeForm(123)" class="btn btn-danger" style="width:150px;">Update Employee</a><label></label>
    <br /> 

   
   



    </form>
